
.contact-container {
  flex: 1 1 auto;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width:100%;

}

.links{
  flex: 0 1 auto;
  order: 2;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: center;
  width:35%;
  margin-left: -5%;

}
con ul li{
    margin: 5% 5%;
    width:25%;
}

con ul li img{
  min-width: 35px;
  max-width: 35px;

}
