
/*desktop*/
body {
  font-family: 'Quicksand';
  position:relative;
  min-height:100vh;
}

header {
  top: 0;
  height: 7rem;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: #666699;
  height: calc(var(--vh, 1vh) * 5);
  color: #666699;
}

main {
  background-color: #ffffff;
  color: #666699;
  width: 75%;
  padding-bottom: calc(var(--vh, 1vh) * 5);
  padding-top: 7rem;
  margin-left:15%;
  margin-right:15%;
}

.white-space{
  color: #ffffff;
}

.photo-thumb{
  position: fixed;
  top:9rem;
  left: 75%;
  height: 7rem;
  width:7rem;
  border: 1px solid;
  box-shadow: 1px 1px #888888;
  border-color: #33001a;
  border-radius: 50%;
}
