
/*desktop*/
body {
  font-family: 'Quicksand';
  position:relative;
  min-height:100vh;
}

header {
  top: 0;
  height:7rem;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: #666699;
  height:2.5rem;
}

main {
  background-color: #ffffff;
  color: #666699;
  width: 75%;
  padding-bottom: 2.5rem;
  padding-top:10%;
  margin-left:15%;
  margin-right:15%;
}

.white-space{
  color: #ffffff;
}
