#info{
  border: 1px solid #fff;
  float:right;
  width:50%;
  text-align: justify;
  position: fixed;
  left:40%;
}
#hideme{
  float:right;
  width:50%;
  padding-top:10%;
}
.text{
  line-height: 2em;
}
.graphs{

  width:50%;
}
img {
  border: 1px solid #33001a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


img:hover {
  box-shadow: 0 0 2px 1px rgba(198, 151, 246, 0.5);
}
.thumbnail{
  text-decoration: none;
  color: #666699;
  list-style: none;
}
li{
  display:block;

}

main{
  padding-top:1rem;
}
.enlarge{
  float: left;
  position: relative;
  height:82vh;
  width:100%;

}
